<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>utf-8</charset>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>

  <logger name="com.endockin.commandante" level="TRACE"/>
  <logger name="org.springframework" level="WARN"/>
  <logger name="org.springframework.web" level="INFO"/>
  <logger name="org.apache" level="WARN"/>
  <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
  <logger name="org.hibernate" level="WARN"/>
  <logger name="sun.net.www.protocol.http.HttpURLConnection" level="WARN"/>
  <logger name="com.wordnik.swagger" level="WARN"/>
  <logger name="com.mangofactory" level="WARN"/>
  <logger name="springfox.documentation" level="WARN"/>
<logger name="javax.activation" level="WARN"/>
  
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <root level="WARN">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
